/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .noobtask-item{
    padding: 5px 5px 5px 5px;
    border: solid 1px black;
    border-radius: 25px;
    max-width: 100px;
    text-align: center;
    margin-bottom: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 15px;
}
.noobtask-list-container{
    position: fixed;
    right: 0;
    top: 25%;
    background: white;
    padding: 20px 0 20px 20px;
    border-radius: 15px 0 0 15px;
}
.noobtask-list{
    margin: 0;
    padding: 0;
    display:flex;
    margin-right: 10px;
}
.noobtask-name{
    font-size:13px;
}
.noobtask-type{
    font-size:10px;
    text-align:center;
    margin-top:15px;
}
.task-open-btn{
    height: 100px;
    width: 40px;
    padding: 0;
    border-radius: 15px;
}
.noobtask-title{
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 5px 10px;
    background: #dedede;
    color: #565656;
}

.noobtask-modal-header{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #b5b5b5;
    margin-bottom: 20px;
 }
.noobtask-modal-title{
    margin-left: 7px;
}
/* The Modal (background) */
.noobtask-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-width: 100% !important;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.noobtask-modal-inner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Modal Content/Box */
.noobtask-modal-content {
    background-color: #dbe2de;
    color: rgb(58, 58, 58);
    border-radius: 8px;
    margin: 15px; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width:100%;
    max-width: 750px;
}

/* The Close Button */
.noobtask-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.noobtask-close:hover,
.noobtask-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.noobtask-modal-link{
    padding: 10px 15px;
    background: #2e3ad0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;

}
button.noobtask-item.noobtask-incomplete{
    background-color:#a1bba1 ;
}
.noobtask-text{
    display: flex;
}