html{
    margin: 0;
    padding: 0;
    background: #19354a;
}
body{
    background: none;
    border: none;
}
a {
    margin:0;
    padding:0;
}
#wu-toolbox{
    display: none;
}
.noobtask-setup-body{
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: fit-content;
}
.noobtask-setup {
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    margin: 60px auto;
}

.button {
    padding: 10px 20px;
    background: #4488bb;
    color: rgb(255 255 255) !important;
    border: none;
    border-radius: 25px;
    text-decoration: none;
}

#wc-logo {
    border: 0;
    margin: 0 0 24px;
    padding: 0;
    text-align: center
}

#wc-logo img {
    max-width: 50%
}

.noobtask-setup-content {

    padding: 24px 24px 0;

}

.noobtask-setup-content h1, .noobtask-setup-content h2, .noobtask-setup-content h3 {
    margin: 0 0 24px;
    border: 0;
    padding: 0;
    color: rgb(222, 222, 222);
    clear: none
}

.noobtask-setup-content p {
    margin: 0 0 24px;
    font-size: 1.2em;
    color: rgb(222, 222, 222);
}

.noobtask-setup-content a:focus, .noobtask-setup-content a:hover {
    color: rgb(255, 255, 255);
}

.noobtask-setup-content .form-table td .input-checkbox, .noobtask-setup-content .form-table td .input-radio {
    width: auto;
    box-sizing: inherit;
    padding: inherit;
    margin: 0 .5em 0 0;
    box-shadow: none
}

.noobtask-setup-content .form-table .section_title td {
    padding: 0
}

.noobtask-setup-content .form-table .section_title td h2, .noobtask-setup-content .form-table .section_title td p {
    margin: 12px 0 0
}

.noobtask-setup-content .form-table td, .noobtask-setup-content .form-table th {
    padding: 12px 0;
    margin: 0;
    border: 0
}

.noobtask-setup-content .form-table td:first-child, .noobtask-setup-content .form-table th:first-child {
    padding-right: 1em
}

.noobtask-setup-content .form-table table.tax-rates {
    width: 100%;
    font-size: .92em
}

.noobtask-setup-content .form-table table.tax-rates th {
    padding: 0;
    text-align: center;
    width: auto;
    vertical-align: middle
}

.noobtask-setup-content .form-table table.tax-rates td {
    border: 1px solid #eee;
    padding: 6px;
    text-align: center;
    vertical-align: middle
}

.noobtask-setup-content .form-table table.tax-rates td input {
    outline: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    text-align: center
}

.noobtask-setup-content .form-table table.tax-rates td.sort {
    cursor: move;
    color: rgb(222, 222, 222);
}

.noobtask-setup-content .form-table table.tax-rates td.sort:before {
    content: "\f333";
    font-family: dashicons
}

.noobtask-setup-content .form-table table.tax-rates .add {
    padding: 1em 0 0 1em;
    line-height: 1em;
    font-size: 1em;
    width: 0;
    margin: 6px 0 0;
    height: 0;
    overflow: hidden;
    position: relative;
    display: inline-block
}

.noobtask-setup-content .form-table table.tax-rates .add:before {
    content: "\f502";
    font-family: dashicons;
    position: absolute;
    left: 0;
    top: 0
}

.noobtask-setup-content .form-table table.tax-rates .remove {
    padding: 1em 0 0 1em;
    line-height: 1em;
    font-size: 1em;
    width: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    display: inline-block
}

.noobtask-setup-content .form-table table.tax-rates .remove:before {
    content: "\f182";
    font-family: dashicons;
    position: absolute;
    left: 0;
    top: 0
}

.noobtask-setup-content .noobtask-setup-plugins {
    width: 100%;
    border-top: 1px solid #eee
}

.noobtask-setup-content .noobtask-setup-plugins .plugin-name {
    width: 30%;
    font-weight: 700
}

.noobtask-setup-content .noobtask-setup-plugins td:first-child, .noobtask-setup-content .noobtask-setup-plugins th:first-child {
    padding-right: 9px
}

.noobtask-setup-content .noobtask-setup-plugins .page-options p {
    color: rgb(222, 222, 222);
    margin: 6px 0 0 24px;
    line-height: 1.75em
}

.noobtask-setup-content .noobtask-setup-plugins .page-options p input {
    vertical-align: middle;
    margin: 1px 0 0;
    height: 1.75em;
    width: 1.75em;
    line-height: 1.75em
}

.noobtask-setup-content .noobtask-setup-plugins .page-options p label {
    line-height: 1
}

.noobtask-setup-content .twitter-share-button {
    float: right
}

.noobtask-setup-content .noobtask-setup-next-steps {
    overflow: hidden;
    margin: 0 0 24px
}

.noobtask-setup-content .noobtask-setup-next-steps h2 {
    margin-bottom: 12px
}

.noobtask-setup-content .noobtask-setup-next-steps .noobtask-setup-next-steps-first {
    float: left;
    width: 50%;
    box-sizing: border-box
}

.noobtask-setup-content .noobtask-setup-next-steps .noobtask-setup-next-steps-last {
    float: right;
    width: 50%;
    box-sizing: border-box
}

.noobtask-setup-content .noobtask-setup-next-steps ul {
    padding: 0 2em 0 0;
    list-style: none;
    margin: 0 0 -.75em
}

.noobtask-setup-content .noobtask-setup-next-steps ul li a {
    display: block;
    padding: 0 0 .75em
}

.noobtask-setup-content .noobtask-setup-next-steps ul .setup-product a {
    text-align: center;
    font-size: 1em;
    padding: 1em;
    line-height: 1.75em;
    height: auto;
    margin: 0 0 .75em;
    opacity: 1;
}
.noobtask-setup-content .noobtask-setup-next-steps ul .setup-product a.button-primary {
    background-color: #0091cd;
    border-color: #0091cd;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .15)
}

.noobtask-setup-content .noobtask-setup-next-steps ul li a:before {
    color: #82878c;
    font: 400 20px/1 dashicons;
    display: inline-block;
    padding: 0 10px 0 0;
    top: 1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    vertical-align: top
}

.noobtask-setup-content .noobtask-setup-next-steps ul .documentation a:before {
    content: "\f331"
}

.noobtask-setup-content .noobtask-setup-next-steps ul .howto a:before {
    content: "\f223"
}

.noobtask-setup-content .noobtask-setup-next-steps ul .rating a:before {
    content: "\f155"
}

.noobtask-setup-content .noobtask-setup-next-steps ul .support a:before {
    content: "\f307"
}

.noobtask-setup-content .updated, .noobtask-setup-content .woocommerce-language-pack, .noobtask-setup-content .woocommerce-tracker {
    padding: 24px 24px 0;
    margin: 0 0 24px;
    overflow: hidden;
    background: #f5f5f5
}

.noobtask-setup-content .updated p, .noobtask-setup-content .woocommerce-language-pack p, .noobtask-setup-content .woocommerce-tracker p {
    padding: 0;
    margin: 0 0 12px
}

.noobtask-setup-content .updated p:last-child, .noobtask-setup-content .woocommerce-language-pack p:last-child, .noobtask-setup-content .woocommerce-tracker p:last-child {
    margin: 0 0 24px
}

.noobtask-setup-steps {
    padding: 0 0 24px;
    margin: 0 0 25px 0;
    list-style: none;
    overflow: hidden;
    color: #ccc;
    width: 100%;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.noobtask-setup-steps li {
    width: 20%;
    float: left;
    padding: 0 0 .8em;
    margin: 0;
    text-align: center;
    position: relative;
    border-bottom: 4px solid #ccc;
    line-height: 1.4em
}

.noobtask-setup-steps li:before {
    content: "";
    border: 4px solid #ccc;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    margin-bottom: -8px;
    background: #fff
}

.noobtask-setup-steps li a{
    text-decoration: none;
}
.noobtask-setup-steps li.active {
    border-color: #0091cd;
    color: #0091cd
}
.noobtask-setup-steps li.active a{
    color: #0091cd
}

.noobtask-setup-steps li.active:before {
    border-color: #0091cd
}

.noobtask-setup-steps li.done {
    border-color: #0091cd;
    color: #0091cd
}
.noobtask-setup-steps li.done a {
    color: #0091cd
}

.noobtask-setup-steps li.done:before {
    border-color: #0091cd;
    background: #0091cd
}

.noobtask-setup .noobtask-setup-actions {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 40px 0 10px 0;
}

#current-logo {
    margin: 0 0 30px 0;
}
.wc-return-to-dashboard {
    font-size: .85em;
    color: #b5b5b5;
    margin: 1.18em 0;
    display: block;
    text-align: center
}


.noobtask_loading_button_current{
    color:#CCC !important;
    text-align: center;

}
.noobtask-wizard-plugins li{
    position: relative;
}
.noobtask-wizard-plugins li span{
    padding: 0 0 0 10px;
    font-size: 0.9em;
    color: #0091cd;
    display: inline-block;
    position: relative;

}
.noobtask-wizard-plugins.installing li .spinner{
    visibility: visible;
}
.noobtask-wizard-plugins li .spinner{
    display: inline-block;
    position: absolute;

}
.noobtask-setup-pages{
    width:100%;
}
.noobtask-setup-pages .check{
    width:35px;
}
.noobtask-setup-pages .item{
    width:90px;
}
.noobtask-setup-pages td,
.noobtask-setup-pages th{
    padding:5px;
}
.noobtask-setup-pages .status{
    display: none;
}
.noobtask-setup-pages.installing .status{
    display: table-cell;
}
.noobtask-setup-pages.installing .status span{
    display: inline-block;
    position: relative;
}
.noobtask-setup-pages.installing .description{
    display: none;
}

.noobtask-setup-pages.installing .spinner{
    visibility: visible;
}
.noobtask-setup-pages  .spinner{
    display: inline-block;
    position: absolute;

}

.theme-presets ul{
    list-style:none;
    margin:0px 0 15px 0;
    padding: 0;
    overflow-x:auto;
    display: block;
    white-space: nowrap;
}
.theme-presets ul li{
    list-style:none;
    display: inline-block;
    padding: 6px;
    margin:0;
    vertical-align: bottom;
}
.theme-presets ul li.current{
    background: #FE529E;
    border-radius: 5px;
}
.theme-presets ul li a{
    float:left;
    line-height:0;
}
.theme-presets ul li a img{
    width: 90px;
    height:auto;
}