/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .highlightedElem{
    box-shadow:0px 0px 10px blue;
    border:1px solid blue;
 }

.noobtask-item{
   padding: 5px 5px 5px 5px;
   border: none;
   border-radius: 7px;
   max-width: 100%;
   min-width: 100px;
   text-align: center;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom:5px;
}

.noobtask-list{
   margin: 0;
   padding: 0;
   display:flex;
}
.noobtask-name{
   font-size:13px;
}
.noobtask-type{
   font-size:10px;
   text-align:center;
   margin-top:15px;
}
.task-open-btn{
   width: 40px;
   padding: 0 7px;
   border-radius: 5px;
   margin-right: 15px;
   border: 1px solid rgb(91, 91, 91);
   background-color: transparent !important;
   color: rgb(75, 75, 75) !important;
}
.noobtask-title{
   margin-bottom: 15px;
   padding: 5px 10px;
   background: #dedede;
   color: #565656;
}

.noobtask-modal-header{
   display:flex;
   justify-content: space-between;
   align-items: baseline;
   border-bottom: 1px solid #b5b5b5;
   margin-bottom: 20px;
}
.noobtask-modal-title{
   margin-left: 7px;
}
/* The Modal (background) */
.noobtask-modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   max-width: 100% !important;
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.noobtask-modal-inner{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
/* Modal Content/Box */
.noobtask-modal-content {
   background-color: #dbe2de;
   color: rgb(58, 58, 58);
   border-radius: 8px;
   margin: 15px; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width:100%;
   max-width: 750px;
}

/* The Close Button */
.noobtask-close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.noobtask-close:hover,
.noobtask-close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
.noobtask-modal-btn{
   padding: 10px 15px;
   text-decoration: none;
   border-radius: 8px;
   margin-top: 20px;
   display: inline-block;
}
.noobtask-modal-link{
   background: #2e3ad0;
   color: white;
}
button.noobtask-item.noobtask-incomplete{
   background-color:#cfd0da !important;
   color:#565656 !important;
}
button.noobtask-item.noobtask-incomplete:hover{
   background-color:#6980ba !important;
   color:white !important;
}
button.noobtask-item.noobtask-completed{
   background-color: #d8d8d8 !important;
   color:#565656 !important;
   opacity: .6;
}
button.noobtask-item.noobtask-completed:hover{
   background-color: #d8d8d8 !important;
   color:#565656 !important;
   opacity: .6;
}
.noobtask-text{
   display: flex;
}
.noobtask-modal-complete-icon {
   border: 1px solid white;
   border-radius: 25px;
   margin-right: 10px;
}